.warning-popUp-continer {
  background-color: white;
  border-radius: 6px;
  padding: 20px;

  @media screen and (max-width: 600px) {
    width: 70vw;
  }
}

.actions {
  display: flex;
}

.yesbutton {
  margin-left: auto;
  margin-right: 10px;
}

.nobutton {
}
