<div class="form-container">
  <button
    type="button"
    class="btn-close close-button"
    (click)="closeModal()"
  ></button>
  <form class="" [formGroup]="issueForm" (ngSubmit)="handleSubmit()">
    <div class="form-list-projectName">
      <label class="form-label" for="issue-projectName">Project Name</label>
      <input
        class="form-control"
        type="text"
        id="issue-projectName"
        formControlName="projectName"
      />
    </div>
    <div class="form-list-title">
      <label class="form-label" for="issue-title"> Issue title </label>
      <input
        class="form-control"
        id="issue-title"
        type="text"
        formControlName="title"
      />
    </div>
    <div class="form-list-description">
      <label class="form-label" for="issue-description">Description</label>
      <textarea
        class="form-control"
        type="text"
        id="issue-description"
        formControlName="description"
      ></textarea>
    </div>
    <div class="form-list-priority">
      <label class="form-label" for="issue-priority">Priority</label>
      <input
        class="form-control"
        type="number"
        id="issue-priority"
        formControlName="priority"
      />
    </div>
    <button class="btn btn-primary button-save" type="submit">save</button>
  </form>
</div>
