<div class="hider {{ modalClass }}"></div>
<div class="popup_box {{ modalClass }}">
  <div class="issue-form-contaner">
    <app-issue-form
      class=""
      [oldIssue]="issue"
      (oldIssueUpdatedEvent)="updateIssue($event)"
      (newIssueCreatedEvent)="createIssue($event)"
      (closeModalEvent)="toggleModal()"
    ></app-issue-form>
  </div>
</div>
<div class="hider {{ modalWarning }}"></div>
<div class="popup_box {{ modalWarning }}">
  <app-warning-pop-up
    class=""
    (deleteOptionEvent)="deleteOption($event)"
  ></app-warning-pop-up>
</div>
<div id="content">
  <div class="issue-list-container">
    <app-issue-list
      [issues]="issues"
      (deleteIssueEvent)="deleteRequest($event)"
      (showDetailEvent)="showDetailEvent($event)"
    ></app-issue-list>
    <button (click)="toggleModal()" class="create_issue_toggle_button">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        enable-background="new 0 0 24 24"
        height="24px"
        viewBox="0 0 24 24"
        width="24px"
        fill="currentColor"
      >
        <g><rect fill="none" height="24" width="24" /></g>
        <g>
          <g><path d="M19,13h-6v6h-2v-6H5v-2h6V5h2v6h6V13z" /></g>
        </g>
      </svg>
    </button>
  </div>
  <br />
</div>
